html {
  background-color: pink;
  color: white;
}

h1 {
  font-family: arial;
  position: relative;
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

.snakegame ul {
  padding-left: 0px;
  height: 480px;
  display: block;
  top: 15%;
  width: 480px;
  background-color: #D6EBFF;
  border: 2px solid lightgray;
  border-radius: 10px;
  margin: auto;
}

.snakegame div.grid-square {
  display: block;
  float: left;
  height: 10px;
  width: 10px;
  position: relative;
}


.snakegame button {
  display: none;
  background: #C2A3FF;
  border-radius: 4px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin: auto;
  position: relative;
  border: none;
}

.snakegame button:hover {
  background: #FFCC66;
}

.snakegame div.snake {
  background-color: #33D685;
}

.snakegame div.apple {
  border-radius: 4px;
}

h2 {
  font-family: arial;
  text-align: center;
}

h3.leader-board-header {
  color: lightgray;
  font-family: arial;
  text-align: center;
  border-bottom: 2px solid lightgray;
}

h4.high-score {
  color: lightgray;
  font-family: arial;
  text-align: center;;
}

div.leader-board {
  background-color: white;
  display: inline-block;
  border-radius: 8px;
  height: 30vw;
  width: 25vh;
  margin-left: 10%;
  margin-right: 20px;
}
